body{ /*Color de fons header + navbar*/
    background-color: white;
    margin: 0px;

}
header{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    position:static;
    height: 100px;
    margin: 0px;
    top: 0px;

    text-align: center;
    background-color: white;

}
#navbar{ /*Navbar*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
#navbar ul li{
    display: inline-flex;
    padding-left: 1cm;
}
#navbar ul li a{
    text-decoration: none;
    background-color: rgba(255,255,255, .5);
    margin: 10px;
    border-radius: .1cm;
    transition: .5s;
}
#navbar ul li a:hover{ /*Animació hovering*/
    display: block;
    text-decoration: none;
    background-color: rgba(0,0,0, .5);
    border-radius: .1cm;
    transition: .5s;
}
#logo{
    width: 35px;
    height: auto;
}
.sticky{
    position: fixed;
    top: 0px;
    width: 100%;
}

/*Contingut de la pàgina web*/
/*Continguts generals aplicables a totes les pàgines*/

.contingut{

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imatges/cereals.jpg");
    border-radius: .3cm;
    color: white;

    /*Grid de la pàgina principal*/
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
}
main{
    /*Posició*/
    margin: 30px;
    grid-column: 1/2;
    grid-row-start: 1;
    grid-row-end: 4;

    /*Estètica*/
    padding: 10px;
    background-color: rgba(80,80,80, .5);
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    text-justify: auto;
}
aside{
    /*Posició*/
    margin: 30px;
    grid-column: 2;
    grid-row: 1;
    height: 100px;
    
    /*Estètica*/
    padding: 5px;
    background-color: rgba(80,80,80, .5);
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    text-justify: auto;
    
}
footer{
    /*Posició*/
    margin: 30px;
    grid-column: 2;
    grid-row: 4;

    /*Estètica*/
    text-align: right;
    
}

/*Pàgina principal - modificacions*/

.title{
    text-align: center;
}
#bol{
    float: right;
    margin-right: 15px;
    width: 250px;
}
#avena{
    float:left;
    margin-left: 15px;
    width: 300px;
}
#llistaCap{
    margin-left: 330px
}
#usos {
    margin-left: 300px;
}

/*Pàgina ressenyes - modificacions*/

#form{
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 310px;
}

#comentaris{
    padding: 5px;
    display: grid;
    grid-template-columns: 200px 1fr;

}
#comentaris input, textarea{
    grid-column: 2/3;
    width: 70%;
}

#comentaris label{
    grid-column: 1/2;
    
}

 #comentaris #enviar {
    grid-column: 2;
    grid-row: 6;
    width: 2.5cm;
    
}
#comentaris #reset {
    grid-column: 1;
    grid-row: 6;
    width: 2.5cm;
}

@media only screen and (max-width:1024px) {/*Format tablet*/
    #navbar ul li{
        display: block;
        padding-top: 5px;
        align-content: center;
    }
    #navbar ul li a{
        display: block;
    }
    #navbar ul li a:hover{ /*Animació hovering*/
        display: block;
    }
    .contingut{
        grid-template-columns: 75% 1fr;
    }
    #form{
        grid-column: 1;
        grid-row: 5;
        height: 310px;
    }

    aside{
        height: 150px;
    }

    footer{
        grid-row: 5;
    }
}
@media only screen and (max-width:800px) {/*Format mòbil*/
    #navbar ul li{
        display: block;
        padding-top: 5px;
        align-content: center;
    }
    #navbar ul li a{
        display: block;
    }
    #navbar ul li a:hover{ /*Animació hovering*/
        display: block;
    }
    .contingut{
        grid-template-columns: 1fr;
    }
    #form{
        grid-column: 1;
        grid-row: 6;
        height: 350px;
    }
    aside{
        grid-column: 1;
        grid-row: 5;
    }

    footer{
        grid-column: 1;
        grid-row: 7;
    }
    #bol{
        display: block;
        width: 500px;
    }
    #avena{
        display: block;
        width: 500px;
    }
    #llistaCap{
        margin-left: 0px;
    }
    #usos {
        margin-left: 0px;
    }
    #caixaComentaris{
        grid-row: 2;
    }
}